<div class="row">

  <div class="col col-sm-4">
    <h3>My Heroes</h3>
    <ul class="list-group heroes">
      <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero" class="list-group-item list-group-item-dark">
        <span class="badge badge-primary badge-pill">{{hero.id}}</span> {{hero.name}}
      </li>
    </ul>
  </div>

  <div class="col col-sm-8" *ngIf="selectedHero">
    <h3>&nbsp;</h3>

    <app-hero-detail [hero]="selectedHero"></app-hero-detail>

  </div>
  
</div>

<div class="row">
  <!-- empty row -->
</div>
